.grid{
    margin: 500px;
    height: 500px;
    width: 500px;
    padding: 20px;
}
.grid{
    border: 2px solid black;
    display: grid;
    grid-template: 1fr 1fr /  1fr 1fr 200px 1fr 1fr;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
}
.grid_item__item{
    height: 100%;
    width: 100%;
    border: 2px solid black;
}